body {
    background-color: black !important;
    margin: 0;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--invert-color);
    margin: 0;
}

img {
    display: block;
}

:root {
    --body-color: rgba(255, 255, 255, 1);
    --invert-color: rgba(0,0,0,1);
    --invert-color-light: rgba(0,0,0,0.2);
    --icon-invert-on-invert: invert(0);
    --icon-invert: invert();
}

@media (prefers-color-scheme: dark) {
    :root {
        --body-color: rgba(41, 41, 41, 1);
        --invert-color: rgba(255,255,255,1);
        --invert-color-light: rgba(255,255,255,0.2);
        --icon-invert-on-invert: invert();
        --icon-invert: invert(1);
    }
}

.app {
    width: 100%;
    height: var(--v-height);
    overflow: hidden;
    border-radius: 10px;
    background-color: var(--body-color);
}

.screen {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: var(--v-height);
}

.circ-button {
    border-radius: 50%;
    background-color: var(--invert-color-light);
    padding: 7px;
    transform: scale(1);
    transition: transform 0.3s cubic-bezier(0,.91,.54,1.01);
}

.circ-button:active {
    transform: scale(1.2);
}

.circ-button * {
    display: block;
    filter: var(--icon-invert-on-invert);
}

.home {
    overflow-y: auto;
    height: var(--v-height);
    scroll-snap-type: y mandatory;
    background: black;
}

.home-camera-short {
    height: 100px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-camera-short * {
    color: var(--body-color) !important;
}

.home-top {
    height: 40px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
}

.home-mid {
    height: calc(var(--v-height));
    overflow-y: auto;
    scroll-snap-align: start;
    background-color: var(--body-color);
    border-radius: 10px;
}

.conversations {
    margin-top: 20px;
}

.conversations-item {
    display: flex;
    justify-content: start;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    gap: 10px;
}
.conversations-item:active {
    background-color: var(--invert-color-light);
}

.conversations-item-image > img {
    height: 45px;
    border-radius: 50%;
}